---
layout: homepage
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link href="assets/normalize.css" rel="stylesheet">
    <link href="assets/flickity.css" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="intro-slideshow">
      <img src="assets/book-1.jpg">
      <img src="assets/book-2.jpg">
      <img src="assets/book-3.jpg">
      <img src="assets/book-4.jpg">
    </div>
    <main>
      <section class="blurb">
        {{ content }}
        <button>{{ page['Buy Now Button']</button>
      </section>
      <section class="features">
        <div>
          <img src="assets/intro-pen.gif" alt="Person with a giant pen">
          {{ page['Column One Text'] | markdownify }}
        </div>
        <div>
          <img src="assets/intro-guy2.gif" alt="Person looking at some paper">
          {{ page['Column Two Text'] | markdownify }}
        </div>
        <div>
          <img src="assets/intro-magic.gif" alt="Person making magic">
          {{ page['Column Three Text'] | markdownify }}
        </div>
      </section>
      <blockquote>
        <q>{{ page['Quote One Text'] }}</q>
        <cite>
          <div class="author">{{ page['Quote One Author'] }}</div>
          <div class="link"><a target="_blank" href="{{ page['Quote One Link URL'] }}">{{ page['Quote One Link'] }}</a></div>
        </cite>
      </blockquote>
      <section class="whats-in">
        <h2>{{ page['List Title'] }}</h2>
        <div class="block-wrapper">
          <img src="assets/witb-1.png" alt="Thumbs up">
          <div class="text-wrapper">
            {{ page['List Item One Text'] | markdownify }}
          </div>
        </div>
        <div class="block-wrapper">
          <img src="assets/witb-2.png" alt="Shapes">
          <div class="text-wrapper">
            {{ page['List Item Two Text'] | markdownify }}
          </div>
        </div>
        <div class="block-wrapper">
          <img src="assets/witb-3.png" alt="">
          <div class="text-wrapper">
            {{ page['List Item Three Text'] | markdownify }}
          </div>
        </div>
      </section>
      <blockquote>
        <q>{{ page['Quote Two Text'] }}</q>
        <cite>
          <div class="author">{{ page['Quote Two Author'] }}</div>
          <div class="link"><a target="_blank" href="{{ page['Quote Two Link URL'] }}">{{ page['Quote Two Link'] }}</a></div>
        </cite>
      </blockquote>
      <section class="subscribe">
        <div class="text">
          <h3>{{ page['Newsletter Title'] }}</h3>
          <p>{{ page['Newsletter Text'] | markdownify }}</p>
        </div>
        <form action="" method="post">
          <input type="email" id="POST-email" placeholder="Your email here" required>
          <input class="submit" type="submit" value="Join">
        </form>
      </section>
      <section class="social">
        <img src="assets/instagram.png" alt="Instagram">
        <h3>Instagram</h3>
        <p>{{ page['Instagram Text'] | markdownify }}</p>
        <a target="_blank" href="https://www.instagram.com/copywrongtocopywriter/">@copywrongtocopywriter</a>
      </section>
    </main>
    <div class="buy-overlay">
    </div>
    <div class="buy-modal">
      <div class="close">
        <img src="assets/buy-close.png" alt="Close">
      </div>
      <form action="">
        <div class="top">
          <div class="quantity">
              <label for="quantity">Quantity</label>
              <input type="number" min="0" name="quantity" id="quantity" value="1" required>
            </div>
            <div class="shipping">
              <label for="country">Shipping to</label>
              <select name="country" id="country" required>
                <option value="" disabled selected>Choose a country</option>
                <option value="Australia">Australia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="India">India</option>
              </select>
              <img class="pointer" src="assets/buy-pointer.png" alt="">
              <div class="shipping-options">
                <div>
                  <input type="radio" id="regular" name="shipping" value="regular">
                  <label for="regular">Regular&mdash;$10</label>
                </div>
                <div>
                  <input type="radio" id="express" name="shipping" value="express">
                  <label for="regular">Express&mdash;$25</label>
                </div>
              </div>
            </div>
        </div>
        <div class="extra">
          <div class="price">
            <h4>Total</h4>
            <p>$35 AUD</p>
          </div>
          <div class="purchase">
            <input type="submit" value="Buy now with PayPal">
            <img src="assets/paypal-logo.png" alt="Paypal logo">
          </div>
        </div>
      </form>
    </div>
    <footer>
      <div class="footer-image">
        <img src="assets/book-4.jpg">
      </div>
      <section class="about">
        <div>{{ page['Footer Column One Text'] | markdownify }}</div>
        <div>{{ page['Footer Column Two Text'] | markdownify }}</div>
        <div>{{ page['Footer Column Three Text'] | markdownify }}</div>
      </section>
    </footer>
    <script type="text/javascript" src="assets/fastclick.js"></script>
    <script type="text/javascript" src="assets/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="assets/jquery.bez.js"></script>
    <script type="text/javascript" src="assets/jquery.flickity.pkgd.js"></script>
    <script type="text/javascript" src="assets/main.js"></script>
  </body>
</html>
