---
layout: homepage
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Copywrong to copywriter">
    <meta property="og:description" content="Copywrong to copywriter is a handbook for anyone who feels like they can’t write to save themselves.">
    <meta property="og:url" content="http://copygui.de/">
    <meta property="og:image" content="http://copygui.de/assets/opengraph.jpg" />
    <meta property="og:image:type" content="image/png" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77708071-1', 'auto');
      ga('send', 'pageview');
      ga('require', 'ecommerce');
    </script>
    <!-- Hotjar Tracking Code for www.copygui.de -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:581156,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <link href="/assets/normalize.css" rel="stylesheet">
    <link href="/assets/flickity.css" rel="stylesheet">
    <link href="/assets/style.css?v=cat" rel="stylesheet">
  </head>
  <body>
    <div class="marquee-pre">
      <div class="one">&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }} &middot;</div>
      <div class="two">&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }}&nbsp;&nbsp;&middot;&nbsp;&nbsp;{{ page['Marquee'] }} &middot;</div>
    </div>
    <div class="intro-slideshow">
      <div class="slide" style="background-image: url(/assets/book-1.jpg);"></div>
      <div class="slide" style="background-image: url(/assets/book-2.jpg);"></div>
      <div class="slide" style="background-image: url(/assets/book-3.jpg);"></div>
      <div class="slide" style="background-image: url(/assets/book-4.jpg);"></div>
    </div>
    <main>
      <section class="blurb">
        {{ content }}
        <button class="buy-now">
          <a style="color: white; text-decoration: none;" target="_blank" href="http://scribepublications.com.au/copywrong">{{ page['Buy Now Button'] }}</a>
        </button>
      </section>
      <section class="features">
        <div>
          <img src="/assets/intro-pen.gif" alt="Person with a giant pen">
          {{ page['Column One Text'] | markdownify }}
        </div>
        <div>
          <img src="/assets/intro-guy2.gif" alt="Person looking at some paper">
          {{ page['Column Two Text'] | markdownify }}
        </div>
        <div>
          <img src="/assets/intro-magic.gif" alt="Person making magic">
          {{ page['Column Three Text'] | markdownify }}
        </div>
      </section>
      <blockquote>
        <q>{{ page['Quote One Text'] }}</q>
        <cite>
          <div class="author">{{ page['Quote One Author'] }}</div>
          <div class="link"><a target="_blank" href="{{ page['Quote One Link URL'] }}">{{ page['Quote One Link'] }}</a></div>
        </cite>
      </blockquote>
      <section class="whats-in">
        <h2>{{ page['List Title'] }}</h2>
        <div class="block-wrapper">
          <img src="/assets/witb-1.png" alt="Thumbs up">
          <div class="text-wrapper">
            {{ page['List Item One Text'] | markdownify }}
          </div>
        </div>
        <div class="block-wrapper">
          <img src="/assets/witb-2.png" alt="Shapes">
          <div class="text-wrapper">
            {{ page['List Item Two Text'] | markdownify }}
          </div>
        </div>
        <div class="block-wrapper">
          <img src="/assets/witb-3.png" alt="">
          <div class="text-wrapper">
            {{ page['List Item Three Text'] | markdownify }}
          </div>
        </div>
      </section>
      <blockquote>
        <q>{{ page['Quote Two Text'] }}</q>
        <cite>
          <div class="author">{{ page['Quote Two Author'] }}</div>
          <div class="link"><a target="_blank" href="{{ page['Quote Two Link URL'] }}">{{ page['Quote Two Link'] }}</a></div>
        </cite>
      </blockquote>
      <section class="subscribe">
        <div class="text">
          <h3>{{ page['Newsletter Title'] }}</h3>
          {{ page['Newsletter Text'] | markdownify }}
        </div>
        <form class="mailchimp" action="//copygui.us13.list-manage.com/subscribe/post?u=e1d92b06ad38636c8a6db59fc&amp;id=ec3f4b3a08" method="post">
          <input type="email" name="EMAIL" placeholder="Your email here" required>
          <input style="display: none" type="checkbox" value="8" name="group[8329][8]" checked="checked">
          <input class="submit" type="submit" value="Join">
        </form>
        <div class="form-response">
          <div class="error">Sorry, please try again.</div>
          <div class="already">You're already subscribed!</div>
          <div class="success">You're signed up.</div>
        </div>
      </section>
      <section class="social">
        <img src="/assets/instagram.png" alt="Instagram">
        <h3>Instagram</h3>
        {{ page['Instagram Text'] | markdownify }}
        <a target="_blank" href="https://www.instagram.com/copywrongtocopywriter/">@copywrongtocopywriter</a>
      </section>
    </main>
    <div class="buy-overlay">
    </div>
    <div class="buy-modal-wrapper">
      <div class="buy-modal">
        <div class="close">
          <img src="/assets/buy-close.png" alt="Close">
        </div>
        <div class="form">
          <div class="top">
            <div class="quantity">
              <div class="number">
                <label for="quantity">Quantity</label><br>
                <div class="numbers">
                  <input type="number" min="1" max="3" name="quantity" id="quantity" value="1" required>
                  <img class="plus" src="/assets/plus.svg">
                  <img class="minus" src="/assets/minus.svg">
                </div>
              </div>
              <div class="message">
                <b>Want more than 3 books?</b><br>
                Email me at <a href="mailto:tait@copygui.de">tait@copygui.de</a>.<br>
                I’ll help you out and organise shipping. 
              </div>
            </div>
            <div class="shipping">
              <label for="country">Calculate Shipping</label>
              <select name="country" class="country" required>
                <option value="" disabled selected>Choose your destination</option>
                <option value="AU">Australia</option>
                <option value="INT">International</option>
              </select>
              <img class="pointer" src="/assets/buy-pointer.png" alt="">
              <div class="shipping-options">
                <div>
                  <label class="regular" for="regular">
                    <b>Shipping and handling</b><br>
                    Australia Post (with tracking)&mdash;$9.50<br>
                  </label>
                  <label class="international" for="international">
                    <b>Shipping and handling</b><br>
                    DHL International (with tracking)&mdash;$15<br>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="extra">
            <div class="price">
              <h4>Total</h4>
              <p>Book<span class="plural">s</span>&mdash;$<span class="book-price"></span><br>
              Shipping and handling&mdash;$<span class="shipping-price"></span></p>
              <p class="larger">$<span class="total-price"></span> AUD</p>
            </div>
            <div class="purchase">
              <div id="paypal-button"></div>
            </div>
            <div class="thanks">
              {{ page['Thank You Text'] | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-image" style="background-image: url('/assets/book-4.jpg');">
      </div>
      <section class="about">
        <div>{{ page['Footer Column One Text'] | markdownify }}</div>
        <div>{{ page['Footer Column Two Text'] | markdownify }}</div>
        <div>{{ page['Footer Column Three Text'] | markdownify }}</div>
      </section>
    </footer>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script type="text/javascript" src="/assets/fastclick.js"></script>
    <script type="text/javascript" src="/assets/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/assets/jquery.bez.js"></script>
    <script type="text/javascript" src="/assets/jquery.flickity.pkgd.js"></script>
    <script type="text/javascript" src="/assets/main.js"></script>
  </body>
</html>
