---
layout: homepage
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Copywrong to copywriter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="assets/dist/images/favicon.png">
    <link href="assets/dist/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="intro-slideshow">
      <img src="assets/dist/images/book-1.jpg">
      <img src="assets/dist/images/book-2.jpg">
      <img src="assets/dist/images/book-3.jpg">
      <img src="assets/dist/images/book-4.jpg">
    </div>
    <main>
      <section class="blurb">
        {{ content }}
        <button>Buy now<span>$25</span></button>
      </section>
      <section class="features">
        <div>
          <img src="assets/dist/images/intro-pen.gif" alt="Person with a giant pen">
          <h4>Written for small business</h4>
          <p>If you write for your own business, or run a small website with just a few pages, you’ll learn the fundamentals to write your own copy.</p>
        </div>
        <div>
          <img src="assets/dist/images/intro-guy2.gif" alt="Person looking at some paper">
          <h4>For new copywriters</h4>
          <p>If you’re planning a career as a copywriter, you’ll learn the fundamentals by reading this book. A strong overview will increase your knowledge, skill and confidence.</p>
        </div>
        <div>
          <img src="assets/dist/images/intro-magic.gif" alt="Person making magic">
          <h4>Useful for design studios</h4>
          <p>If you’re not writing the copy, your client will be. Help them get a head start by giving your clients a strong introduction to copywriting.</p>
        </div>
      </section>
      <blockquote>
        <q>A fantastic way to up your copywriting game and grow more confident in your ability to use the right words.</q>
        <cite>
          <div class="author">Kai Brach</div>
          <div class="link"><a target="_blank" href="https://www.offscreenmag.com/">Offscreen magazine</a></div>
        </cite>
      </blockquote>
      <section class="whats-in">
        <h2>What’s in the book</h2>
        <div class="block-wrapper">
          <img src="assets/dist/images/witb-1.png" alt="Thumbs up">
          <div class="text-wrapper">
            <h4>1. You, the expert</h4>
            <p>The best copywriters write from a position of true knowledge. If you’re a business owner, you’re your own best copywriter.</p>
          </div>
        </div>
        <div class="block-wrapper">
          <img src="assets/dist/images/witb-2.png" alt="Shapes">
          <div class="text-wrapper">
            <h4>2. The fundamentals</h4>
            <p>Develop your ability to the say the right thing (strategy) to the right people (audience) in the right way (grammar).</p>
          </div>
        </div>
        <div class="block-wrapper">
          <img src="assets/dist/images/witb-3.png" alt="Person walking on pen line">
          <div class="text-wrapper">
            <h4>3. Get to work</h4>
            <p>How to write for the web, how to get started, and how to put together a brief.</p>
          </div>
        </div>
      </section>
      <blockquote>
        <q>Really great</q>
        <cite>
          <div class="author">Penny Modra</div>
          <div class="link"><a target="_blank" href="https://thegoodcopy.com.au/">The Good Copy</a></div>
        </cite>
      </blockquote>
      <section class="subscribe">
        <div class="text">
          <h3>Newsletter</h3>
          <p>If you're interested in hearing more about the book in the future, sign up to my newsletter.</p>
        </div>
        <form action="" method="post">
          <input type="email" id="POST-email" placeholder="Your email here" required>
          <input class="submit" type="submit" value="Join">
        </form>
      </section>
      <section class="social">
        <img src="assets/dist/images/instagram.png" alt="Instagram">
        <h3>Instagram</h3>
        <p>The hottest place online to see photos of the book, the colour pink and quick updates.</p>
        <a target="_blank" href="https://www.instagram.com/copywrongtocopywriter/">@copywrongtocopywriter</a>
      </section>
    </main>
    <div class="buy-overlay">
    </div>
    <div class="buy-modal">
      <div class="close">
        <img src="assets/dist/images/buy-close.png" alt="Close">
      </div>
      <form action="">
        <div class="top">
          <div class="quantity">
              <label for="quantity">Quantity</label>
              <input type="number" min="0" name="quantity" id="quantity" value="1" required>
            </div>
            <div class="shipping">
              <label for="country">Shipping to</label>
              <select name="country" id="country" required>
                <option value="" disabled selected>Choose a country</option>
                <option value="Australia">Australia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="India">India</option>
              </select>
              <img class="pointer" src="assets/dist/images/buy-pointer.png" alt="">
              <div class="shipping-options">
                <div>
                  <input type="radio" id="regular" name="shipping" value="regular">
                  <label for="regular">Regular&mdash;$10</label>
                </div>
                <div>
                  <input type="radio" id="express" name="shipping" value="express">
                  <label for="regular">Express&mdash;$25</label>
                </div>
              </div>
            </div>
        </div>
        <div class="extra">
          <div class="price">
            <h4>Total</h4>
            <p>$35 AUD</p>
          </div>
          <div class="purchase">
            <input type="submit" value="Buy now with PayPal">
            <img src="assets/dist/images/paypal-logo.png" alt="Paypal logo">
          </div>
        </div>
      </form>
    </div>
    <footer>
      <div class="footer-image">
        <img src="assets/dist/images/book-4.jpg">
      </div>
      <section class="about">
        <div>
          <h4>About the author</h4>
          <p><a target="_blank" href="http://taitischia.com/">Tait Ischia</a> is a copywriter and content strategist from Melbourne, Australia. I’ve been writing copy since 2007.</p>
        </div>
        <div>
          <h4>About the illustrator</h4>
          <p><a target="_blank" href="http://jeanes.co/">Jacob Zinman-Jeanes</a> is an interaction and graphic designer, illustrator and musician currently living in Melbourne, Australia.</p>
        </div>
        <div>
          <h4>About the designer</h4>
          <p><a target="_blank" href="http://listofworks.info/">Tristan Main</a> is a designer working in publishing in Melbourne.</p>
        </div>
      </section>
    </footer>
    <script type="text/javascript" src="assets/dist/js/all.min.js"></script>
  </body>
</html>
